$color-default-border: #E9E9E9;
$color-primary-button: #71DCA0;
$color-primary-button-hover: #55a578;
$color-primary-text: #646464;
$color-primary-links-bg: #F5F5F5;
$color-primary-links-hover-bg: #d8d3d3;